* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 80px;
}

.logo {
    padding-right: 500px;
}

nav {
    flex: 1;

}

nav ul {
    display: inline-block;
    list-style-type: none;
    text-align: left;
}

nav ul li {
    display: inline-block;
    margin: 20px;
}

a {
    text-decoration: none;
}

.container {
    width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    margin: 100px 70px;
    background: linear-gradient(#00bfff, #00ffff);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 a {
    margin-left: 270px;
}

.col-2 {

    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.btn1 {


    display: inline-block;
    background-color: bisque;
    border-radius: 50px;
    color: black;
    padding: 8px 30px;
    margin: 30px 0;
    transition: background 0.5s;
}

.btn1:hover {
    background-color: blue;
}

.categories {
    margin: 100px 70px;
    background: linear-gradient(#107DD6, #FFFFFF);



}

.categories p {
    text-align: center;

    padding: 40px 0;
}

.div11 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}


.col-3 p {
    text-align: center;

}

.col-3 a {
    position: absolute;
    margin-left: 250px;

}

.col-3 {

    margin-top: 50px;
    flex-basis: 50%;
    min-width: 300px
}

.col-3 img {
    max-width: 100%;
    margin-right: 50px;
}